<!DOCTYPE html>
<html lang="ja">
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div id="quiz-container" class="quiz-container">
        <h2 id="quiz-title">ようこそ</h2>
        <h3 id="quiz-category"></h3>
        <h3 id="quiz-difficulty"></h3>
        <div id="question" class="question">以下のボタンをクリック</div>
        <ul id="answers"></ul>
        <button id="start-button">開始</button>
    </div>
    <script type="text/javascript" src="javascripts/main.js"></script>
</body>

</html>